.day {
    color: white
}

.day div {
    cursor: pointer;
    padding: 1rem;
    background: rgb(2,0,36);
    width: 13%;
    height: 35rem;
    max-width: 95%;
    float: left;
    text-align: center;
    margin-left: 1rem;
    top: 50%;
    transform: translateY(20%);
}

.day section {
    margin-bottom: 5%;
}

.day div:hover {
    box-shadow: 4px 4px rgb(192, 188, 188);
}
