.selection {
    justify-content: center;
    left: 50%;
    right: 50%;
}

.selection ul {
    overflow:hidden;
    overflow-y:scroll;
    height:600px;
    width: 95%;
}

.selection button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: rgb(88, 105, 119);
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
    margin-bottom: 10px;
}

.selection button:hover {
    background-color: rgb(42, 45, 48);
}

.selection h1 {
    text-align: center;
    margin-right: 60px;
}